<odoo>
    <!-- Action for WhatsApp Templates in Purchases -->
    <record id="action_whatsapp_template_purchase" model="ir.actions.act_window">
        <field name="name">WhatsApp Templates (Purchases)</field>
        <field name="res_model">whatsapp.template</field>
        <field name="view_mode">list,form</field>
    </record>

    <menuitem
        id="menu_whatsapp_template_purchase"
        name="WhatsApp Templates"
        action="action_whatsapp_template_purchase"
        sequence="40"/>
</odoo>